.artist-albums-list-component .form-group {
  margin-bottom: 30px;
}

.album-info {
  width: 230px;
  height: 330px;
  margin: auto;
  box-shadow: 0 0 15px -3px #343a40;
}

.image-section {
  width: inherit;
  height: 160px;
  text-align: center;
}

.image-section img {
  width: inherit;
  height: inherit;
}

.album-description-section {
  width: inherit;
  height: 130px;
  background-color: white;
  padding: 10px;
}

.rate-section {
  width: inherit;
  height: 40px;
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.album-name {
  color: darkslategray;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin: 0;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artists-names {
  margin-bottom: 20px;
}

.artists-names,
.release-date,
.number-of-tracks {
  color: lightslategray;
  font-size: 10px;
}

.load-artists-btn-wrapper {
  text-align: center;
}

.load-artists-btn {
  width: 450px;
  height: 70px;
  font-size: 25px !important;
  border-radius: 0.75rem !important;
}

.album-section-title {
  margin-bottom: 20px;
}

.artist-title {
  font-size: 35px;
  color: dimgray;
}

.album-label {
  font-size: 17px;
  color: gray;
}